 //to reset element-ui default css
// .el-upload {
//   input[type="file"] {
//     display: none !important;
//   }
// }

// .el-upload__input {
//   display: none;
// }

// //暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
// .el-dialog {
//   transform: none;
//   left: 0;
//   position: relative;
//   margin: 0 auto;
// }

// //element ui upload
// .upload-container {
//   .el-upload {
//     width: 100%;
//     .el-upload-dragger {
//       width: 100%;
//       height: 200px;
//     }
//   }
// }

// /** checkbox 更改 */
// .el-checkbox__label {
//   font-size: 13px;
//   color: #333333;
// }

// .el-checkbox__input.is-checked+.el-checkbox__label {
//   color: #333333;
// }

.el-input .el-input__inner {
  padding: 0 8px;
}

.el-textarea .el-textarea__inner {
  padding: 5px 8px;
}

.el-radio .el-radio__label {
  padding-left: 8px;
}

.el-checkbox .el-checkbox__label {
  padding-left: 8px;
}

body .el-table th.gutter{
  display: table-cell!important;
}

body .el-table colgroup.gutter{
  display: table-cell!important;
}
